footer
  button(onclick="showLegalMentions()") Crédits
  // button(onclick="toggleSelectionMode(this)") Export
  // p.got-these.hidden
  // span
  // a(onclick="clearGotThese()" aria-label="Déselectionner toutes les capsules") ×