aside.hidden
    a(onclick="hideLegalMentions()" aria-label="Masquer les mentions légales") ×

    h2 Mentions légales
    p.
        Ce site n'utilise pas de cookies. Aucune donnée privée n'est collectée.
    p.
        Les logos, visuels et marques présents sur ce site sont la propriété de leurs détenteurs respectifs.
    p.
        Ce site est hébergé par <a href="https://netlify.com" title="Site de l'hébergeur"><strong>Netlify</strong></a>.

    h2 Crédits
    p.
        Logo issu du domaine publique <a href="https://publicdomainvectors.org/fr/gratuitement-des-vecteurs/Chope-de-bi%C3%A8re-vecteur-une-image-clipart/77291.html" title="Lien vers le logo">disponible en ligne</a>.
    p.
        Les photos des capsules ont été prises par l'auteur de ce site. Libre à vous de les réutiliser.
    p.
        Le code source du site est disponible sur <a href="https://github.com/mcellier/caps" title="Code source du site">Github</a> sous <a href="https://opensource.org/license/mit">licence MIT</a>.