doctype html
html(lang='fr')
  include components/head.pug 

  body
    include components/header.pug 
    include components/caps.pug
    include components/mentions.pug
    include components/footer.pug
