aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: calc(10px + 4px);
  z-index: 2;
  background: var(--main-bg-color);
  border: 10px solid #FFF;
}

aside:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 4px solid var(--main-color);
  content: '';
  z-index: -1;
}

aside > a {
  position: absolute;
  right: calc(10px + 4px);
  top: calc(10px + 4px);
  cursor: pointer;
}

aside h2 {
  display: inline-block;
  font-size: 1.5em;
  margin: 20px 0;
}

aside p {
  margin: 0 0 10px 0;
}

aside h2:after {
  content: '';
  display: block;
  padding-top: 5px;
  border-bottom: 4px solid var(--main-color);
}
