:root {
  --main-bg-color: #F5CB70;
  --main-color: #6b5931;
  --text-color: #3B3B3B;

  font-family: 'Bangers', cursive;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  background: var(--main-bg-color);
  padding: 5px 10px;
  border: 4px solid var(--main-color);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

a, a:visited {
  color: inherit;
}

.hidden {
  display: none;
}

header h1 {
  font-size: 2em;
}

header h2 {
  font-size: 1.5em;
  display: inline-block;
}

header h2:before,
header h2:after {
  content: '-';
  display: inline-block;
  margin: 0 5px;
}

header .search {
  position: relative;
  margin: 10px 0 0 0;
}

header .search input {
  width: 350px;
  padding: 5px 20px 5px 10px;
  font-family: 'Bangers', cursive;
  font-size: 1em;
  color: var(--main-color);
  outline-color: var(--main-bg-color);
}

header .search a {
  display: none;
  position: absolute;
  left: 330px;
  top: 0;
  line-height: 31px;
  cursor: pointer;
}

header .search input:not(:placeholder-shown) + a {
  display: inline-block;
}

header {
  min-height: 110px;
  padding: 10px 0 10px 110px;
}

header img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
}

header .title {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  header img {
    width: 60px;
  }

  header .title {
    flex-direction: column;
    padding-left: 60px;
  }

  header .search input {
    width: 100%;
  }

  header .search a {
    left: auto;
    right: 10px;
  }
}

.country {
  position: relative;
}

.country h2 {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--main-bg-color);
  padding: 10px;
  font-size: 1.5em;
}

ul {
  padding: 10px;
}

li {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 100px;
  height: 100px;
}

li.got-this-one:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid var(--main-color);
}

li div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

li div img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li:hover:before {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 50%;
  display: block;
  background: var(--main-bg-color);
  border: 4px solid var(--main-color);
  content: attr(data-beer) "\00000a- " attr(data-brewery) " -";
  pointer-events: none;
  transform: translateX(-50%);
  padding: 5px 10px;
  text-align: center;
  white-space: pre;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: calc(10px + 4px);
  z-index: 2;
  background: var(--main-bg-color);
  border: 10px solid #FFF;
}

aside:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 4px solid var(--main-color);
  content: '';
  z-index: -1;
}

aside > a {
  position: absolute;
  right: calc(10px + 4px);
  top: calc(10px + 4px);
  cursor: pointer;
}

aside h2 {
  display: inline-block;
  font-size: 1.5em;
  margin: 20px 0;
}

aside p {
  margin: 0 0 10px 0;
}

aside h2:after {
  content: '';
  display: block;
  padding-top: 5px;
  border-bottom: 4px solid var(--main-color);
}

footer {
  padding: 10px;
}

footer button {
  margin-right: 10px;
}

footer .got-these {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: var(--main-bg-color);
  z-index: 3;
  text-align: right;
}

footer .got-these a {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
}
